
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    .banner-wrap {
        padding-top: 11.875rem;
        padding-bottom: 9rem;
    }

    &#about-banner {
        top: -6.46875rem;
        margin-bottom: -6.46875rem;
        position: relative;
        padding-top: 9.5625rem;
        padding-bottom: 4.5625rem;
    }
}