
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
}

.post-content {
	position: relative;
	padding: 1.875rem 0;

	&.position-absolute {
		padding: 1rem;
		left: 1rem;
		bottom: 3rem;
	}
}