
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/

.container-fluid {
	overflow: hidden;
}


hr {
	opacity: 1;
}


.icon-layout {
	display: flex;
	justify-content: space-between;
}

.error-404 {
	position: relative;

	button {
		position: absolute;
		bottom: 18.529%;
		right: calc(50% - 4.545rem);
		width: 9.09rem !important;
		height: 4.03rem !important;
	}
}

.history-media {
	position: relative;

	.media-play {
		position: absolute;
		background-image: url("../images/icons/media-play.png");
		background-repeat: no-repeat;
		background-size:cover;
		width: 4.5rem;
		height: 4.5rem;
		top: 20%;
		left: 0;

		@include media-breakpoint-up(sm) {
			top: 32.3%;
			left: -2.25rem;
		}

		@include media-breakpoint-up(md) {
			top: 37.05%;
		}

		@include media-breakpoint-up(lg) {
			top: 39.55%;
		}
	}
}

.toggle-btn {
	font-size: 1rem;
	padding: 0;
	margin-bottom: 0.5rem;
	color: white;

	@include media-breakpoint-up(xl) {
		margin-bottom: 1.3125rem;
	}
}

.sidebar-content {
	position: fixed;

	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: all .3s ease-in-out;
	z-index: -1;

	&.active {
		background-color: rgba($color: #000000, $alpha: 0.73);
		z-index: 999;

		.sidebar {
			right: 0;
		}

		#header {
			z-index: 500;
		}
	}

	.sidebar {
		position: absolute;
		top: 0;
		right: -85%;
		width: 85%;
		height: 100%;
		background-color: #100c0a;
		transition: all .3s ease-in-out;

		@include media-breakpoint-up(sm) {
			width: 27.56rem;
			right: -27.56rem;
		}
	}	

	.sidebar-header {
		padding: 2.906rem 3.703rem;
	}

	.close-btn {
		font-size: 1.125rem;
		color: white;
		line-height: 1;
	}	

	.sidebar-body {
		padding: 12.7rem 18% 0 18%;

		@include media-breakpoint-up(sm) {
			padding: 12.75rem 24.83% 0 24.83%;
		}
	}

	.sidebar-title {
		display: flex;
		align-items: center;

		font-family: $heading-font;
		font-size: 3.125rem;
		line-height: 1;
		margin-bottom: 0;

		hr {
			color: white;
			width: 2.578rem;
			height: 0.046875rem;
			margin-right: 1.406rem
		}
	}

	.sidebar-list {
		margin-top: 3.843rem;

		.list-item {
			margin-bottom: 3.844rem;

			a {
				font-family: $heading-font;
				font-size: $h3-font-size;
				line-height: 1;
				color: #6d6d6d;
				
				&:hover {
					color: $theme-color;
				}
			}
		}
	}
}

.switch-title {
	a {
		color: #d0d0d0;
		font-family: $heading-font;
		font-size: $h2-font-size;
		line-height: 1;
		text-transform: capitalize;

		&:hover {
			color: #100c0a;
		}
	}
	
	&.active {
		a {
			color: #100c0a;
		}
	}
}