
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #0b0908;
}

#footer-main {
	background-color: #141414;
	font-size: 0.685rem;
	padding: 4.406rem 7.34% 4.922rem 7.34%;

	@include media-breakpoint-up(xxl) {
		padding: 4.406rem 8.8125rem 4.922rem 8.8125rem;
	}
}

#footer-bottom {
	padding: 1.64rem 7.34% 1.547rem 7.34%;

	@include media-breakpoint-up(xxl) {
		padding: 1.64rem 8.8125rem 1.547rem 8.8125rem;
	}
}