
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	.widget-title {
		font-family: $body-font;
		font-size: 0.875rem;
		text-transform: uppercase;
		color: $white;
		margin-bottom: 1.25rem;
	}
	
	.widget-social {
		span {
			background-color: #1c1c1c;
			display: inline-block;
			width: 2.953rem;
			height: 2.953rem;
			text-align: center;
			vertical-align: middle;
			color: #faf7fa !important;
			margin-left: 0.984rem;

			@include border-radius(50%);
		}
		
		&:hover {	
			span {
				background-color: $theme-color;
				color: $white;
				@include transition(all 0.3s ease-in-out);
			}		
		}

		i {
			line-height: 2.953rem;
		}
	}

	&.widget-links {
		ul {
			li {
				a {
					font-family: $body-font;
					font-size: 1rem;
					color: #f4f4f4;
					@include transition(all 0.3s ease-in-out);

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		.payments {
			display: flex;
			justify-content: center;
	
			@include media-breakpoint-up(md) {
				justify-content: flex-start;
			}

			.payment-icon {
				text-align: center;
				margin-right: 0.5625rem;
				width: 4.78125rem;
				background-color: #fff;
				
				img {
					width: 4.78125rem;
				}
			}
		}
	}
}

/* Widget - Products
-----------------------------------------------------------------*/
