
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.fbox {
	position: relative;
	margin-bottom: 1.875rem;

	border: 1px solid #eaeaea;
	max-width: 20rem;
	height: 7.406rem;
	width: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;

	.fbox-icon {
		img {
			width: auto;
			height: 5rem;
		}
	}
}

